
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
 --color-primario: #AEB8FE;
 --color-secundario: #F1F2F6;
 --color--terciario: #758BFD;
 --fuente-montse: "Montserrat", sans-serif;
 --fuente-krona: "Krona One", sans-serif;
 --fuente-roboto: "Roboto Mono", sans-serif;


}

.input{
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height:100px; /* Ajusta la altura según tus necesidades */
    padding: 10px; /* Añade espacio alrededor del texto dentro del campo */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y altura total del input */
    font-size: 1rem; /* Ajusta el tamaño de la fuente según tus necesidades */
    text-align: left; /* Alinea el texto a la izquierda */
    vertical-align: top;

}
.negritas{
    padding: 1rem;
    font-family: var(--fuente-roboto);
    font-weight: 600;
    font-size: 1rem;
    color: black; 
    text-align: center;
    
  
}
.normales{
    padding: 10%;
    font-family: var(--fuente-montse);
    font-weight: 400;
    font-size: 1rem;
    color: black;
    text-align: center;
    

}

body{

    background: var(--color-primario);
    color:var(--color-secundario);
    
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
    
}

.header__menu{
    display: flex;
    gap: 40px;

}

.header__menu__link{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: black
    
}

.Presentacion{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    gap: 82px;
    padding: 5% 15%;
}
.Presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.titulo{
    font-size: 1.5rem;
    font-family: lato;
    color: black;
    
}



.Presentacion__contenido__parrafo{
    font-size: 1.8rem;
    font-family: var(--fuente-montse);
    font-weight: 400;
    color: black;
}

.botones__espacio{
    display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
   
}

.botones{
    width: 150px;
    
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    font-family: var(--fuente-montse);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: dotted;
    color: black;
    border: 2px solid var(--color--terciario);
    gap: 10px;
    background-color: var(--color--terciario);
}



.botones:hover{
    background-color: #a9def9;

}

.box__visualizador{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    background-color: #FF8600;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.box__visualizador__imagen{
    width: 50%;

}

.botones__copiar{
    width: 100px;
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
    font-family: var(--fuente-montse);
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    border: 2px solid var(--color--terciario);
    row-gap: 20px;
    background-color: var(--color--terciario);

}

.botones__copiar:hover{
    background-color: #a9def9;

}



.advertencia{
    padding-top: 0px;
    display: flex;
    justify-content:baseline;
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 10px;

}

.Footer{
    padding: 10px;
    background-color:var(--color--terciario);
    color: black;
    text-align: center;
    font-family: var(--fuente-montse);
    font-weight: 400;
    font-size: .8rem;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
@media (max-width: 1200){
    
    .Presentacion{
flex-direction: column;

    }
}