@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
 --color-primario: #e4c1f9;
 --color-secundario: #a9def9;
 --color--terciario: #d0f4de;
 --fuente-montse: "Montserrat", sans-serif;
 --fuente-krona: "Krona One", sans-serif;


}
*{
    padding: 0;
    margin: 0;


}
.input{
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height:100px; /* Ajusta la altura según tus necesidades */
    padding: 10px; /* Añade espacio alrededor del texto dentro del campo */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y altura total del input */
    font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
    text-align: left; /* Alinea el texto a la izquierda */
    vertical-align: top;

}
.negritas{
    padding: 15px;
    font-family: var(--fuente-montse);
    font-weight: 600;
    font-size: 18px;
    color: black; 
    text-align: center;
    
  
}
.normales{
    padding: 10%;
    font-family: var(--fuente-montse);
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-align: center;
    

}

body{

    background: var(--color-primario);
    color:var(--color-secundario);
    
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
    
}

.header__menu{
    display: flex;
    gap: 80px;

}

.header__menu__link{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: black
    
}

.Presentacion{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    gap: 50px;
    padding: 5% 15%;
}
.Presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.titulo{
    font-size: 22px;
    font-family: lato;
    color: black;
    
}



.Presentacion__contenido__parrafo{
    font-size: 24px;
    font-family: var(--fuente-montse);
    font-weight: 400;
    color: black;
}

.botones__espacio{
    display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
   
}

.botones{
    width: 150px;
    
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    font-family: var(--fuente-montse);
    font-size: 16px;
    font-weight: 600;
    text-decoration: dotted;
    color: black;
    border: 2px solid var(--color--terciario);
    gap: 10px;
}



.botones:hover{
    background-color: #a9def9;

}

.box__visualizador{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    background-color: var(--color-secundario);
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.botones__copiar{
    width: 100px;
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
    font-family: var(--fuente-montse);
    font-size: 20px;
    font-weight: 600;
    color: black;
    border: 2px solid var(--color--terciario);
    row-gap: 20px;

}

.botones__copiar:hover{
    background-color: #a9def9;

}



.advertencia{
    padding-top: 0px;
    display: flex;
    justify-content:baseline;
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 10px;

}

.Footer{
    padding: 10px;
    background-color:var(--color--terciario);
    color: black;
    text-align: center;
    font-family: var(--fuente-montse);
    font-weight: 400;
    font-size: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}